@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

:root {
  color-scheme: dark;
}

* {
  @apply border-slate-800;
}

a {
  @apply text-slate-100;
}

::selection {
  @apply bg-blue-500 text-white;
}

.scrollbar-muted::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-muted::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

.scrollbar-muted::-webkit-scrollbar-track {
  @apply bg-slate-950;
}
